%ul
  - @dirs.each do |dir|
    %li= link_to dir, images_path(bucket: params[:bucket], prefix: dir)

%ul
  - @objs.each do |obj|
    %li
      %p= obj.key
      = link_to obj.public_url, target: '_blank' do
        = image_tag obj.public_url, width: 400

- if @objs.present?
  = link_to_next_page @objs, 'Next'
